Source: dtn
Section: net
Priority: optional
Maintainer: Michael Demmer [demmer@cs.berkeley.edu]
Build-Depends: make, gcc, g++, debhelper (>= 4), tcl8.3-dev | tcl8.4-dev, libdb4.3-dev | libdb4.4-dev, libxerces27-dev

Package: dtn
Architecture: any
Suggests: tclreadline
Depends: ${shlibs:Depends}
Provides: dtnd
Description: Delay Tolerant Networking reference implementation
 .
 This package contains the reference implementation of the Delay
 Tolerant Networking (DTN) architecture. This includes the DTN daemon
 (dtnd) as well as several example applications that use the DTN
 protocols. 
 . 
 Homepage: http://www.dtnrg.org
